@media screen and (max-width: 1023px) {
    .header {
        grid-template-rows: 58px;

        &__buscador {
        width: 350px;
        }   

        &__logo {
        max-width: 170px;
        max-height: 30px;
        }
    }

    .nav__text {
        font-size: 18px;
    }

    .titulo {
        font-size: 26px;
    }

    .ayuda__titulo {
        font-size: 26px;
    }

    .contacto__titulo {
        font-size: 26px;
    }

    .productos__img {
        width: 120px;
        height: 120px;
    }

    .productos__destacados {
        grid-template-columns: 150px 150px 150px 150px;
        grid-template-rows: 240px;
    }

    .productos__precios--destacados {
        font-size: 20px;
    }

    .productos__letras--destacados {
        font-size: 16px;
    }

    .categoriasProductos {
        grid-template-columns: 600px;
        grid-template-rows: 600px 145px 145px 150px 145px 145px 145px 145px 145px ;
        justify-items: center;
    }

    .productos__fondo {
        min-width: 400px;
        max-height: 380px;
    }

    .ofertas {
        column-gap: 5px;

        &__precio {
        font-size: 17px;
        }

        &__precio--green {
        font-size: 20px;
        }
    }

    .contacto__dimensiones {
        width: 590px;
    }

    .contacto__input {
        width: 550px;
    }

    .ayuda__dimensiones {
        width: 570px;
    }

    .marcas__img {
        max-height: 50px;
        max-width: 150px;
    }

    .footer__informacion {
        display: flex;
        flex-direction: column;
    }

    .footer__logo {
        max-width: 170px;
        max-height: 170px;
        margin-left: 2rem;
    }

    .footer__letras {
        font-size: 15px;
    }

    .mapa {
        max-width: 200px;
        max-height: 200px;
        margin: 10px 10px 10px 10px;
    }
}